<!--
 * @Description: 
 * @version: 
 * @Author: SunDuncan
 * @Date: 2022-02-13 19:20:27
 * @LastEditors: SunDuncan
 * @LastEditTime: 2022-02-15 14:05:23
-->
<div class="ft-content" style="width: 1105px">
    <div class="ft-info clearfix">
        <dl class="ft-info-col ft-info-intro">
            <dt>旅游网</dt>
        </dl>
        <dl class="ft-info-social">
            <dt>向崇尚自由的加勒比海盗致敬！</dt>
            <dd>
                <a class="ft-social-weibo" target="_blank" href="javascript:;" rel="nofollow"><i
                        class="ft-social-icon"></i></a>
                <a class="ft-social-qqt" target="_blank" href="javascript:;" rel="nofollow"><i
                        class="ft-social-icon"></i></a>
                <a class="ft-social-qzone" target="_blank" href="javascript:;" rel="nofollow"><i
                        class="ft-social-icon"></i></a>
            </dd>
        </dl>
    </div>

    <div class="ft-links">
        <a target="_blank" href="https://www.jit.edu.cn/">金陵科技学院</a>
        <a href="javascript:;" target="_blank">更多友情链接&gt;&gt;</a>
    </div>
</div>